  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Costumer details</h1>
  </div>

<div class="col-md-8">
   <table class="table bg-white">
    <thead class="bg-info">
      <tr class="text-white">
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
   <tbody>
     {% for item in items %}
    <tr>
      <td>{{item.name}}</td>
      <td>{{item.category}}</td>
      <td>{{item.quanitiy}}</td>
    </tr>
     {% endfor %}
   </tbody>
  </table>
</div>




<div class="container">
  <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
             <h1 class="h3 mb-0 text-gray-800">Orders details</h1>
             <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
        </div>
<div class="row my-4">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Odered by</th>
                    <th scope="col">Odered Date/time</th>
                    <th scope="col">order completed</th>

                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.name.name }}</td>
                    <td>{{ order.name.category }}</td>
                    <td>{{ order.orderquantity }}</td>
                    <td>{{ order.costumer.username }}</td>
                    <td>{{ order.date}}</td>
                    <td>
                        <a class="btn btn-warning btn-sm" href="#">✅done</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>